sudo: required
services:
  - docker

before_install:
  - docker build -t nitheesbalaji/demo-apps -f Dockerfile.dev .

script:
  - docker run nitheesbalaji/demo-apps npm run test -- --coverage

after_success:
  #log in to docker CLI
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #take built images and push to DOcker hub
  - docker push parag290/docker-react

